body {
  width: 36rem;
  margin: 1rem auto;
  padding: 0 1rem 0 1rem;
}

body,
article,
.gist-meta {
  font-family: "Gill Sans MT", "Gill Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
}

article {
  padding: 2rem !important;
}

header {
  width: 12rem;
  height: 12rem;
  margin: 4rem 0 2rem 0;
  background: center / contain url(../images/text.png);
}

header i {
  color: #ddd;
}

a {
  color: black;
}

footer {
  color: gray;
  margin: 2rem 0 4rem 0;
}

@media screen and (max-width: 38rem) {
  body {
    width: auto;
  }

  .gist-data {
    max-height: 896.4rem !important;
  }
}

@media (hover: none),
(pointer: coarse) {
  .gist-data {
    max-height: 896.4rem !important;
  }
}

.gist,
.gist-file {
  display: -webkit-box;
  flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
}

.gist .markdown-body * {
  margin: 1.5rem 0 1rem 0 !important;
}

.gist-file {
  border: 1px solid #ddd !important;
  border-radius: 0 !important;
}

.gist-file:first-child,
.gist-meta a:first-child,
.gist-meta a:nth-child(3) {
  display: none;
}

.gist-file:last-child .gist-data,
.gist-file:active .gist-data,
.gist-file:hover .gist-data {
  max-height: 896.4rem !important;
}

.gist-file:active .gist-data,
.gist-file:hover .gist-data {
  transition: max-height 0s;
}

.gist-meta {
  border-radius: 0 !important;
  color: rgba(0, 0, 0, 0) !important;
  max-height: 1rem;
  pointer-events: none;
  cursor: default;
}

.gist-meta a:nth-child(2) {
  color: transparent !important;
  background-color: #666;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 2rem, #666 2rem);
  background-clip: text;
}

.gist-data {
  max-height: 0;
  border-bottom: 0 !important;
  word-wrap: break-word !important;
  transition: max-height 1s 0.5s;
}